<div class="container-fluid container-md">
  <div
    class="card alert alert-danger"
    style="margin-top: 2%; min-height: 300px; padding: 4rem"
  >
    <div class="card-body">
      <figure class="text-center">
        <h3>{{message}}</h3>
      </figure>
      <form action={{redirect}} method="GET">
        <div class="d-grid gap-2 col-2 mx-auto">
          <button type="submit" class="btn btn-warning">Volver</button>
        </div>
      </form>
    </div>
  </div>
</div>