<div class="container-fluid container-md">
  <div class="alert alert-success" role="alert" style="margin-top: 2%;">
    <h2>Hasta luego {{username}}</span></h2>
  </div>
  <script>
    setTimeout(() => { window.location.replace('/login') }, 2000);
  </script>
</div>