<div class="container-fluid container-md">
  <div class="card text-dark bg-light mb-3" style="margin-top: 2%;">
    <div class="card-body">
      <figure class="text-center">
        <h3>Registro de usuario</h3>
      </figure>
      <form action="/api/register" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Ingrese su email"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Ingrese una contraseña"
          />
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="submit" class="btn btn-success">Registrarme</button>
          <div style="display: flex; flex-direction: row; align-items: end;">
            <hr class="dropdown-divider" style="width: 45%;">
            <span style="width: 10%; text-align: center;">o</span>
            <hr class="dropdown-divider" style="width: 45%;">
          </div>
          <a href="/login" class="link-info" style="text-align: center;">Iniciar sesión</a>
        </div>
      </form>
    </div>
  </div>
</div>